.btn-btn{
    width: 50px;
    height: 50px;
    background-size: cover;
    border: 2px solid blue;
    border-radius: 10px;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

/* take picture  */
.takePictureGif{
    background-image: url(../gif/take-picture.gif);
}
.takePictureFix{
    background-image: url(../pngFix/take-picture-fix.png);
}
/* end of take picture  */

/* ar part  */
.arGif{
    background-image: url(../gif/ar.gif);
}
.arFix{
    background-image: url(../pngFix/ar-fix.png);
}
/* end of ar part  */

/* upload part  */
.uploadGif{
    background-image: url(../gif/upload.gif);
}
.uploadFix{
    background-image: url(../pngFix/upload-fix.png);
}
/* end of upload part  */

/* 3d part  */
.g3dGif{
    background-image: url(../gif/3d.gif);
}
.g3dFix{
    background-image: url(../pngFix/3d-fix.png);
}
/* end of 3d part  */

/* share part  */
.shareGif{
    background-image: url(../gif/share.gif);
}
.shareFix{
    background-image: url(../pngFix/share-fix.png);
}
/* end of share part  */
.mt100{
    margin-top: 100px;
}