@font-face {
    font-family: 'monR';
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'monB';
    src: url(fonts/Montserrat-Bold.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'monR';
    overflow: hidden;
}
#cube{
    width: 0;
    height: 0;
    overflow: scroll;
}
#imgContent{
    width: 100vw;
    height: 100vw;
    box-sizing: border-box;
}
.imgSelf{
    width: 75vw;
    height: 75vw;
    box-sizing: border-box;
    background-size: cover;
    position: absolute;
    background-color: #ffffffc7;
    margin-top: 12.5vw;
    margin-left: 12.5vw;
}
input[type="file"]{
    display: none;
}
.frfs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.frs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.w100{
    width: 100vw;
}
.mt10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.mt20{
    margin-top: 20px;
}
.fcc{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
button{
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 10px;
    font-weight: bold;
    color: #525252;
    background-color: #fafafa;
}
.ml10{
    margin-left: 10px;
}
.mt5{
    margin-top: 5px;
}
#plsWait{
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
}
#containerOne{
    position: absolute;
}
#containerTwo{
    width: 1px;
    height: 1px;
    overflow: scroll;
    background-color: white;
    box-sizing: border-box;
}
.whvv{
    width: 1280px;
    height: 1440px;
}
.frc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.p12px{
    padding: 12px;
}
.pa{
    position: absolute;
}
.takePic{
    margin-left: calc(50vw - 43px);
    margin-top: calc(100vh - 105px);
}
.ml-100{
    margin-left: calc(50vw - 100px);
}
.ml-16{
    margin-left: calc(50vw + 16px);
}
#showVideo{
    height: calc(100vh - 60px);
    width: 100vw;
    box-sizing: border-box;
    object-fit: cover;
    position: absolute;
}
.wh0{
    width: 1px;
    height: 1px;
    overflow: scroll;
}
.dsn{
    display: none !important;
}
#mainVideo{
    width: 1280px;
    height: 720px;
}
canvas{
    width: 1280px;
    height: 720px;
    border: 1px solid red;
}
#containerThree{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#fix{
    width: calc(100vw - 50px);
    height: 8px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    box-sizing:border-box;
}
#move{
    width: 0%;
    height: 8px;
    background-color: red;
    border-radius: 8px;
    box-sizing:border-box;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 500ms;
}
.mb{
    margin-bottom: 10px;
}
.mb5{
    margin-bottom: 5px;
}
.frfe{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.line{
    width: 30px;
    height: 2px;
    background-color: lightgray;
    position: absolute;
}
.tl25{
    top: 25px;
    right: 25px;
}
.rt1{
    transform: rotate(45deg);
}
.rt2{
    transform: rotate(-45deg);
}
.tlsa{
    margin-top: calc(100vh - 120px);
}
#thissiht{
    background-color: #e5e5e5;
    padding: 7px 10px 7px 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 11px black;
}
.gif{
    margin-top: -20px;
}
.not-gif{
    margin-top: 0;
}
.fs32ii{
    font-size: 32px;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-text-stroke: 1px blue;
    -webkit-text-fill-color: rgb(0,200,255);
}
.mt550vi{
    /* margin-top: calc(100vh - 200px) !important; */
}